In [36]:
import pandas as pd
df = pd.read_csv("Emails.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [37]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [38]:
df["Category"] = le.fit_transform(df["Category"])
df.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [39]:
from sklearn.feature_extraction.text import CountVectorizer

In [43]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df["Message"],df["Category"],test_size=0.2)

In [44]:
from sklearn.naive_bayes import MultinomialNB

In [45]:
from sklearn.pipeline import Pipeline

In [47]:
model = Pipeline([
    ("vectorizer",CountVectorizer()),
    ("nb",MultinomialNB())
])
model.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [52]:
emails = [
    "Congratulation bro you won a price",
    "Congratulations, you have won a Price of a million dollars"
]
model.predict(emails)

array([1, 1])